[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/venv_horime/bin/uwsgi -i /srv/2023_Data_Hackathon/project_horime/.config/uwsgi/mysite.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target